<% @questionnaires.each do |questionnaire| %>
  <%= link_to questionnaire_path(questionnaire) do %>
  <div>
    <p> 本文：<%= questionnaire.body %></p>
    <% if questionnaire.qimage? %>
    <p>
      <img src='<%= questionnaire.qimage.url %>'>
    </p>
    <% end %>
    <% if questionnaire.date_by? %>
    <p>
      <%= questionnaire.date_by.strftime("%Y/%m/%d/ %H:%M")  %>
    </p>
    <% end %>
  </div>
  <% end %>
  <br><br><br>
<% end %>
