// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-all {
  margin: 10px 0;
  img {
    border-radius: 50%;
    width: 50px;
  }
  .comment-one {
    width: 100%;
    height: 95px;
    margin: 0;
    padding: 5px;
    .float-left {
      float: left;
    }
    .float-right {
      float: right;
    }
    .wrapper-notyet {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    .photo {
      width: 60px;
    }
    .content {
      border-radius: 7px;
      margin-left: 10px;
      margin-right: 10px;
      height: 100%;
      text-align: left;
      max-width: 50%;
      overflow: scroll;
      padding: 4px;
      p {
        display: inline-block;
        height: 100%;
        padding: 3px;
      }
    }
    .content-a {
      background-color: #ffe9e8;
    }
    .content-b {
      background-color: #e8e8ff;
    }
    .content-notyet {
      background-color: #f2f2f2;
    }
  }
}
