
html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  padding-top: 0px;
  font-family: 'hiragino kaku gothic pro',
                        sans-serif;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #4267B2;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  cursor: pointer;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover {
  opacity: 0.7;
  }
}
