// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show {
  .user-static {

  }
  img {
  width: 10%;
  min-width: 50px;
  border-radius: 50%;
  }
}

.user-static-1 {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.home-signup {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  .left-a {
    margin: 0;
    padding: 0;
    border: 0;
    width: 50%;
    height: 100%;
    background-color: #ffe9e8;
    float: left;
  }
  .right-b {
    margin: 0;
    padding: 0;
    border: 0;
    width: 50%;
    height: 100%;
    background-color: #e8e8ff;
    float: right;
  }
  .window-signup{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #FFF;
    border: solid 3px #999;
    border-radius: 10px;
    .actions {
      margin: 10px;
    }
    .omniauth-login-btn {
      width: 50%;
      float: left;
      margin: 0 0 10px;
      padding: 0;
      .btn {
        width: 95%;
      }
    }
    label {
      text-align: left;
    }
  }
}

.edit-registration {
  img {
    max-width: 300px;
  }
  .actions {
    margin: 10px;
  }
  .cancel-wrapper {
    margin: 10px;
  }
}
